$circleSize: 50px;
$circleColorBlack: black;
$circleColorWhite: white;
$circleColorChecked: fuchsia;

.circle{
    width: $circleSize;
    height: $circleSize;
    border-radius: 50%;
}

.circleBlack{
    background-color: $circleColorBlack;
}

.circleWhite{
    background-color: $circleColorWhite;
}

.circleChecked{
    background-color: $circleColorChecked;
}
