@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.gameInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.gameInfoItem{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-top: 6px;

    position: relative;
}

.white{
    color: #ffffff;
}

.black{
    color: #000;
}

.selected::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #CC4E5C;
    bottom: 0;
}
