@use "vars";

$circleColorBlack: black;
$circleColorWhite: white;
$circleColorChecked: fuchsia;

@mixin animation($keyframesName){
    animation-name: $keyframesName;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@mixin translation($directionX, $directionY){
    transform: translate(calc((vars.$hex-width + vars.$hex-gap) / 2 * $directionX), calc((vars.$hex-height - vars.$hex-gap) * $directionY));
}

.circle{
    width: calc(vars.$hex-height / 2);
    height: calc(vars.$hex-height / 2);
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 10;
}

.circleBlack{
    background-color: $circleColorBlack;
}

.circleWhite{
    background-color: $circleColorWhite;
}

.circleChecked{
    background-color: $circleColorChecked;
}

.movingUpRight{
    @include animation(upRightMoving);
}

.movingRight{
    @include animation(rightMoving);
}

.movingDownRight{
    @include animation(downRightMoving);
}

.movingDownLeft{
    @include animation(downLeftMoving);
}

.movingLeft{
    @include animation(leftMoving);
}

.movingUpLeft{
    @include animation(upLeftMoving);
}

@keyframes upRightMoving {
    from{
        // transform: translate(calc((vars.$hex-width + vars.$hex-gap) / -2), calc(vars.$hex-height - vars.$hex-gap));
        @include translation(-1, 1);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes rightMoving {
    from{
        // transform: translate(calc((vars.$hex-width + vars.$hex-gap) * -1), 0);
        @include translation(-2, 0);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes downRightMoving {
    from{
        @include translation(-1, -1);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes downLeftMoving {
    from{
        @include translation(1, -1);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes leftMoving {
    from{
        @include translation(2, 0);
    }
    to{
        transform: translate(0, 0);
    }
}

@keyframes upLeftMoving {
    from{
        @include translation(1, 1);
    }
    to{
        transform: translate(0, 0);
    }
}
