@use "vars";

.hexagonLine{
    display: flex;
    justify-content: center;
    gap: vars.$hex-gap;

    &:not(:first-child){
        margin-top: calc(vars.$hex-height / -4 - vars.$hex-gap * -1);
    }
}
  
